* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    text-align: center;

}

main {
    display: inline-grid;
    grid-template-rows: 62px 62px 62px 62px 62px 62px 62px 62px 62px;
    grid-template-columns: 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px;
    align-content: center;
    grid-gap: 6px;
    border: 6px white;
    text-align: start;

}

.layout {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 15px 15px 10px 5px grey;
    width: 830px;
    height: 630px;
    border: 2px solid grey;
}

.header {
    background: #9BCE0A;
    grid-area: 1 / 1 / 2 / 13;
    padding-top: .5em;
    padding-left: .5em;
}

.nav {
    background: #9BCE0A;
    grid-area: 2 / 1 / 9 / 4;
    padding-top: .5em;
    padding-left: .5em;
}

.article {
    background: #9BCE0A;
    grid-area: 2 / 4 / 7 / 13;
    padding-top: .5em;
    padding-left: .5em;
}

.ads {
    background: #9BCE0A;
    grid-area: 7 / 4 / 9 / 13;
    padding-top: .5em;
    padding-left: .5em;
}

.footer {
    background: #9BCE0A;
    grid-area: 9 / 1 / 10 / 13;
    padding-top: .5em;
    padding-left: .5em;
}