* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    padding-right: 2em;
    list-style: none;
}

nav ul li  a{
    flex-direction: row;
    list-style: none;
    padding-right: 2em;
}

.header-img {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em 0;
}