* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    padding-right: 2em;
    list-style: none;
}

nav ul li  a{
    flex-direction: row;
    list-style: none;
    padding-right: 2em;
}

h1 {
    padding-left: 1em;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
}

.header-img {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}