* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/my-website.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Cinzel', serif;
}

h1, h3 {
    font-family: 'Marck Script', cursive;
}
.slide {
    float: left;
}


hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #ffb50a;
    text-align: center;
}
hr.style-eight:after {
    content: "CA";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #aaa7ad;
    font-family: 'Zhi Mang Xing', cursive;
}
#slider,  #slider .slide{
    width: 500px;
    height: 250px;
}
#slider {
    overflow: hidden;
    margin: 0 auto;
    font-size: 1.2em;
    background: transparent;
}
#slider .container {
    position: relative;
    min-width: 9000px; /* Assign an insanely large width */
    top: 0;
    right: 0;
    animation: slide-animation 50s infinite;
}
#slider .slide {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
}

/* [ANIMATION] */
@keyframes slide-animation {
    0% {
        opacity: 0;
        right: 0;
    }
    11% {
        opacity: 1;
        right: 0;
    }
    22% {
        opacity: 1;
        right: 100%; }
    33% {
        right: 100%; }
    44% {
        right: 200%; }
    55% {
        right: 200%; }
    66% {
        right: 300%; }
    77% {
        right: 300%; }
    88% {
        opacity: 1;
        right: 400%;
    }
    100% {
        opacity: 0;
        right: 400%;
    }
}


