body {
    margin: 0 20px;
}

h1 {
    opacity: .65;
}

.jumbotron-fluid {
    background-image: url("../images/pizza.png");
}

.container-fluid {
    padding: 2em;
}

.nav li {
    border: 1px solid grey;
    border-bottom: none;
}

.header-card {
background: #107BFE;
    color: white;
    padding-top: 10px;
    line-height: 5px;
}

.card-text {
    text-align: left;
    padding-bottom: 15px;
}

.crust {
    width: 100%;
}

cardfooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0;
}


