.header {
    font-family: 'Courgette', cursive;
    text-decoration: underline;
}

#scene {
    background-image: url("../images/future.jpg");
    background-position: top;
    background-repeat: no-repeat;

}

#bottom {
    background-image: url("../images/tidie.jpg");
    background-position: center;
    background-size: cover;
}

#main-header:hover {
    color: deeppink;
}

#header-1:hover {
    color: mediumpurple;
}

#header-2:hover {
    color: dodgerblue;
}

#header-3:hover {
    color: darkorange;
}

#vision:hover {
    color: crimson;
}

#product:hover {
    color: orchid;
}

body {
    font-size: large;
    background-image: url("../images/cottoncandy.jpeg");
    height: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;

}

h1 {
text-align: center;
}

ol {
    display: inline-block;
    list-style: lower-roman inside;
    padding: 0px;
    text-align: left;
}

ul {
    display: inline-block;
    list-style: square inside;
    padding: 0px;
    text-align: left;
}

hr {
    border-top: steelblue dashed;
    border-bottom: orchid dashed;
}

#user-table {
    margin: 10px auto;
    width: 100%
    content-box; list-style-position: inside;

}

#user-table th {
    border-bottom: 1px solid black;
    padding: 2px;
    text-align: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
}

#user-table td {
    padding: 2px;
    text-align: center;

}

a:link {
    color: blue;
}

a:visited {
    color: steelblue;
}

a:hover {
    color: aqua;
}

a:active {
    color: plum;
}