html {
    background: url("../images/office-space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: bisque;
}

a:link {
    color: blue;
}

a:visited {
    color: steelblue;
}

a:hover {
    color: darkblue;
}

a:active {
    color: plum;
}

body {
    font-size: large;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;

}

h1 {
    text-align: center;
    font-size: 64px;
    background: -webkit-linear-gradient(#fff, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ol {
    display: inline-block;
    list-style: lower-roman inside;
    padding: 0px;
    text-align: left;
}

ul {
    display: inline-block;
    list-style: square inside;
    padding: 0px;
    text-align: left;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    font-family: 'Tangerine', cursive;
    color: bisque;
    content: "VD";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #333333;
}

.header {
    font-family: 'Courgette', cursive;
    text-decoration: underline;
}

#main-header:hover {
    color: deeppink;

}

#header-1:hover {
    color: mediumpurple;
}

#header-2:hover {
    color: dodgerblue;
}

#header-3:hover {
    color: darkorange;
}

#vision:hover {
    color: crimson;
}

#product:hover {
    color: orchid;
}



#user-table {
    margin: 10px auto;
    width: 100%
    content-box; list-style-position: inside;

}

#user-table th {
    border-bottom: 1px solid black;
    padding: 2px;
    text-align: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
}

#user-table td {
    padding: 2px;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgba(122,150,255,.2);
}

nav p {
    font-family: 'Titillium Web', sans-serif;
    color: #222;
    font-size: 24px;
    line-height: 45px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 20px;
    padding: 15px 100px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 350px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 50px;
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;
}

nav a:visited {
    color: #000;
}