.header {
    font-family: 'Courgette', cursive;
    text-decoration: underline;
}

#main-header:hover {
    color: deeppink;

}

#header-1:hover {
    color: mediumpurple;
}

#header-2:hover {
    color: dodgerblue;
}

#header-3:hover {
    color: darkorange;
}

#vision:hover {
    color: crimson;
}

#product:hover {
    color: orchid;
}

body {
    font-size: large;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;

}

h1 {
text-align: center;
}

ol {
    display: inline-block;
    list-style: lower-roman inside;
    padding: 0px;
    text-align: left;
}

ul {
    display: inline-block;
    list-style: square inside;
    padding: 0px;
    text-align: left;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    font-family: 'Tangerine', cursive;
    color: bisque;
    content: "VD";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #333333;
}

#user-table {
    margin: 10px auto;
    width: 100%
    content-box; list-style-position: inside;

}

#user-table th {
    border-bottom: 1px solid black;
    padding: 2px;
    text-align: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
}

#user-table td {
    padding: 2px;
    text-align: center;

}

a:link {
    color: blue;
}

a:visited {
    color: steelblue;
}

a:hover {
    color: aqua;
}

a:active {
    color: plum;
}

html {
    background: url("../images/office-space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: bisque;
}
