body {
    background-image: url("../images/all-weather.jpg");
}
#toppy {
     background: -webkit-linear-gradient(#0808ff, #fdff17);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     /*text-shadow: white 1px 1px 1px;*/
     font-family: 'Luckiest Guy',cursive;
     font-size: 6em;
 }
#topper {
    color: black;
    position: absolute;
    font-family: 'Luckiest Guy',cursive;
    font-size: 6em;
    z-index: -1;
    margin-top: -120px;
    margin-left: 230px;

}
h2 {
    background: -webkit-linear-gradient(#fdff17, #0808ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Luckiest Guy',cursive;    text-align: center;
}
h3 {
    display: flex;
    justify-content: center;
}
img {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}
#map {
    /* the width and height may be set to any size */
    width: 85%;
    height: 400px;
    display: flex;
    justify-items: center;
    margin-left: 8.5em;
    border: 3px solid lightskyblue;
    border-radius: 10px;
}
#card-list {
    justify-content: space-evenly;
    margin-top: 5em;
}
.button {
    margin-left: 6.7em;
}
.card {
    height: 250px;
    width: 300px;
    border: 3px solid steelblue;
    border-radius: 10px;
}
.card-header {
    color: navy;
    background-color: #0fb784;
    border-radius: 10px;
}
#main {
    color: #111111;
    text-align: center;
}
.card-body {
    margin: 0;
}

