body {
    background-color: #8CCBF7;
}
h3 {
    display: flex;
    justify-content: center;
}
#map {
    /* the width and height may be set to any size */
    width: 85%;
    height: 400px;
    display: flex;
    justify-items: center;
    margin-left: 8.5em;
    margin-top: 10em;
}
#card-list {
    justify-content: space-evenly;
    margin-top: 5em;
}
.card {
    border: 3px solid steelblue;
}
.card-header {
    color: mistyrose;
}
#main {
    color: #111111;
    text-align: center;
}
#todayWeather {
    background-image: url('../icons/animated/rainy-3.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
