.fancy-header {
    color: royalblue;
    text-decoration: underline;
}

body {
    background-image: url("images/coolpic.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;

}

h1 {
text-align: center;
}

ol {
    display: inline-block;
    list-style: lower-roman inside;
    padding: 0px;
    text-align: left;
}

ul {
    display: inline-block;
    list-style: square inside;
    padding: 0px;
    text-align: left;
}

#user-table {
    margin: 10px auto;
    width: 100%
}

#user-table th {
    border-bottom: 1px solid black;
    padding: 2px;
    text-align: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
}

#user-table td {
    padding: 2px;
    text-align: center;

}

a:link {
    color: blue;
}

a:visited {
    color: steelblue;
}

a:hover {
    color: aqua;
}

a:active {
    color: plum;
}